extends layout

block content
  .container
    h1= title
    p Welcome to #{title} page
    table.table.table-hover
      thead
        tr
          th Username
          th Firstname
          th Lastname
          th Email
      tbody
        tr
          td #{user.username}
          td John
          td Lin
          td john@example.com
